PersonProfileWSClient/src/conf/xml-resources/web-service-references/PersonInformationWS/wsdl/localhost_8084/PersonProfilesWS/PersonInformationWS.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://data.person/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://data.person/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8084/PersonProfilesWS/PersonInformationWS?xsd=1" />

<xs:element name="getAge" type="tns:getAge" />

<xs:element name="getAgeResponse" type="tns:getAgeResponse" />

<xs:element name="insertPersonProfile" type="tns:insertPersonProfile" />

<xs:element name="insertPersonProfileResponse" type="tns:insertPersonProfileResponse" />

<xs:element name="selectAllPersonInformation" type="tns:selectAllPersonInformation" />

<xs:element name="selectAllPersonInformationResponse" type="tns:selectAllPersonInformationResponse" />

<xs:complexType name="insertPersonProfile">
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0" />
<xs:element name="lastname" type="xs:string" minOccurs="0" />
<xs:element name="birthdate" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPersonProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAge">
<xs:sequence>
<xs:element name="birtdate" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllPersonInformation">
<xs:sequence />
</xs:complexType>

<xs:complexType name="selectAllPersonInformationResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>