PersonProfileWSClient/web/WEB-INF/wsdl/localhost_8084/PersonProfilesWS/PersonInformationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://data.person/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://data.person/" name="PersonInformationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8084/PersonProfilesWS/PersonInformationWS?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://data.person/" schemaLocation="http://localhost:8084/PersonProfilesWS/PersonInformationWS?xsd=2" />
</xsd:schema>
</types>
<message name="getAge">
<part name="parameters" element="tns:getAge" />
</message>
<message name="getAgeResponse">
<part name="parameters" element="tns:getAgeResponse" />
</message>
<message name="selectAllPersonInformation">
<part name="parameters" element="tns:selectAllPersonInformation" />
</message>
<message name="selectAllPersonInformationResponse">
<part name="parameters" element="tns:selectAllPersonInformationResponse" />
</message>
<message name="insertPersonProfile">
<part name="parameters" element="tns:insertPersonProfile" />
</message>
<message name="insertPersonProfileResponse">
<part name="parameters" element="tns:insertPersonProfileResponse" />
</message>
<portType name="PersonInformationWS">
<operation name="getAge">
<input wsam:Action="http://data.person/PersonInformationWS/getAgeRequest" message="tns:getAge" />
<output wsam:Action="http://data.person/PersonInformationWS/getAgeResponse" message="tns:getAgeResponse" />
</operation>
<operation name="selectAllPersonInformation">
<input wsam:Action="http://data.person/PersonInformationWS/selectAllPersonInformationRequest" message="tns:selectAllPersonInformation" />
<output wsam:Action="http://data.person/PersonInformationWS/selectAllPersonInformationResponse" message="tns:selectAllPersonInformationResponse" />
</operation>
<operation name="insertPersonProfile">
<input wsam:Action="http://data.person/PersonInformationWS/insertPersonProfileRequest" message="tns:insertPersonProfile" />
<output wsam:Action="http://data.person/PersonInformationWS/insertPersonProfileResponse" message="tns:insertPersonProfileResponse" />
</operation>
</portType>
<binding name="PersonInformationWSPortBinding" type="tns:PersonInformationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAge">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectAllPersonInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertPersonProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PersonInformationWS">
<port name="PersonInformationWSPort" binding="tns:PersonInformationWSPortBinding">
<soap:address location="http://localhost:8084/PersonProfilesWS/PersonInformationWS" />
</port>
</service>
</definitions>